#main{
    width: 96%;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%;
}
.table-title{
    margin-left: 2%;
}
.table-content{
    margin-left: 2%;
}
.btn{
    margin-top: 2%;
    margin-left: 2%;
}
.row-product-buy-check{
    border: 1px solid #999;
    padding: 0.5rem;
    border-bottom: none;
    font-size: 15px;
}
.row-product-buy-check:last-child {
    border-bottom: 1px solid #999;
}
.table-content{
    font-family: 黑体;
    font-size: 12px;
    color: red;
}